body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
  /* for adding breathing space */
}

/* For spotplay sidebar content  */
.sidebar-content {
  width: 340px;
  border-radius: 1rem;
  background-color: #000000;
  /*TODO: 1rem = 16px */
  margin-right: 0.5rem;

}


/* spotplay sidebar */

/* Home-section */
.home-section {
  display: flex;
  background-color: #121212;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  /* padding: 8px 12px 8px 12px; */
}

.home {
  line-height: 2.5rem;
  opacity: 0.5;
  padding: 0.5rem;
}

.home:hover {
  opacity: 1;

}

.home-section .home i {
  font-size: 1.25rem;
  padding-top: 1rem;
}

.home-section .home a {
  font-size: 1rem;
  margin-left: 1rem;
}



.sidebar-content .home-section a,
i {
  text-decoration: none;
  color: white;

}

/* library-section */
.library-section {
  background-color: #121212;
  border-radius: 1rem;
  height: 100vh;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.Your-library {
  display: flex;
  justify-content: space-between;

}

.Your-library img {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 11px;
}

.Your-library a {
  text-decoration: none;
  color: white;

}

.Your-library .icons {
  font-size: 1rem;
  margin-right: 1rem;
}

.side-icons i {
  font-size: 1rem;
  margin-right: 1rem;
  opacity: 0.7;
  margin-top: 0.8rem;
}

.side-icons i:hover {
  opacity: 1;
}

/* Create playlist section */

.library-playlist {
  padding: 0.5rem 2.8rem;
  width: 220px;
  /* height: 100px; */
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.45rem 0 1.35rem 0;
}

.library-podcast {
  padding: 0.5rem 2.8rem;
  width: 220px;
  height: 10.4rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.45rem 0 1.35rem 0;
}

.heading {
  font-size: 1rem;
  font-weight: 500;
}

.disc {
  font-size: 17px;
  opacity: 0.9;
}

.library-playlist button {
  background-color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  height: 2rem;

}

.library-podcast button {
  background-color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  height: 2rem;

}
/*Spotplay main content  */
.main-content {
  flex: 1;
  background-color: #121212;
  opacity: 0.9;
  border-radius: rem;
  overflow: auto;
}

/* Sticky-nav */
.sticky-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 0 1rem 0;
position: sticky;
top: 0;
z-index: 10;
background-color: #121212;
}
.nav-arrow img{
margin-left: 0.75rem;
height: 28px;
width: 28px;
padding: 3px;
}

/* Badge section */
.nav-badge{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-badge .premium-badge{
  background-color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  height: 2rem;
}
.installApp-badge{
  background-color: black;
color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  height: 2rem;
}
.nav-badge  i{
  background-color: #121212;
  font-size: 0.8rem;

}
.hide{
  background-color: #000000;
  border: none;
  border-radius: 50%;
}

.nav-item{
margin-right: 1rem;

}
/* Mediaquerry back-forward-icon */
@media(max-width:750px){
  .hide{
   display: none;
  }

}
/* Main-content & Display-Card-Area */
.cards{
  margin-left: 2rem;
  background-color: #121212;
}
.card-item{
  background-color: #232323;
padding: 1rem;
border-radius: 0.5rem;
width: 150px;
margin-left: 1.5rem;
margin-top: 1rem;
}

/* Arranging-cards */
.card-list-below{
display: flex;
flex-wrap: wrap;
}


/*Card head & Disc  */
.card-head{
  font-size: 1rem;
  padding: 0px 0px 4px;
  width: 120px;
  height: 30px;
  font-weight: 600;
}
.card-disc{
  font-size: 0.85rem;
  opacity: 0.8;
}

/* Main-content-footer-line */
.footer{
  height: 250px;
  width: 95%;
  margin-left: 0.5rem;
  justify-content: center;
  align-items: center;
}
.line{
  border-top: white 1px solid;
  opacity: 0.4;
  margin-top: 10rem;
}

/* For spotplay media section content  */
.media-player-main {
  /* background-color: #000000; */
  background-color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 125px;
}








